@kovai-pazhamudir-nilayam:registry=https://npm.pkg.github.com/kovai-pazhamudir-nilayam
@ebono-commerce:registry=https://npm.pkg.github.com/ebono-commerce
//npm.pkg.github.com/:_authToken=${NPM_TOKEN}
